#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;  
  background-color: #ffffff;
}

.main {
  flex-grow: 1;




}
body, html {

}

.social{
  text-decoration: none;
  color: white;
  font-size: 24px;
  margin-left: 5px;
  margin-right: 5px;
}

.social2 {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.social:hover, .social2:hover{
     color: rgb(106, 108, 233);
}

.gradient-button {
  background: linear-gradient(90deg, #b6138e 0%, #740974 100%);
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  transition: 0.3s ease-in-out;
}

.gradient-button:hover {
  opacity: 0.9;
  transform: scale(1.05);
}



.contactoCards{
   
    justify-content: center;
       display: flex;
  gap: 10px;        /* espacio entre botones */
   margin-top: auto; /* empuja hacia abajo */
      
}


.TextoAbogada {
  display: flex;
  flex-direction: column;  /* apila en columna */
  justify-content: space-between;
  margin-left: 10px ;
}



.CardContacto {
  padding: 5px;
  background-color: #740974;
  border-radius: 10%;
  width: 100px;
  height: 80px;
  display: flex;              /* centra contenido */
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.CardContainer{
      
   

     
}

.AreaCard{
   
 background-color: rgb(219, 202, 236);
     
}

.ConteinerFondoAbogada{
      width: 100%;
  height: 600px;       /* o el alto que quieras */
  object-fit: cover;
  display: block; 
   position: relative;
    filter: blur(2px);
}


.TextoFondoAbogada{
  position: absolute;   /* Para superponer encima de la imagen */
  top: 30vh;             /* Centra vertical */
  left: 1%;            /* Centra horizontal */
  
  color: rgb(255, 255, 255);         /* Color del texto */
  
 

}

.navbarCustom{
  background-color: rgba(12, 12, 12, 0.9)!important ;
  
}

.navbarCustom .collapsing {
  transition: height 0.5s ease !important;
}

.navbarCustom .collapse {
  transition: height 0.8s ease !important;
}
.logoNavbar{
  width: 70px;
}

.containerContact{
   background: rgb(219, 202, 236, 0.2); /* semitransparente */
  backdrop-filter: blur(10px); /* difumina el fondo */
  -webkit-backdrop-filter: blur(10px); /* para Safari */
  border-radius: 12px;
  padding: 20px;

}

.h1Font{
   font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}

/* Títulos elegantes con serif */
h1, h2 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 1.2;
}

/* Subtítulos (ej. cards) */
h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.3;
}

/* Texto normal */
body, p, li {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

/* Formularios y botones */
label, input, button {
  font-family: "Lato", sans-serif;
  font-size: 14px;
}